<?xml version="1.0"?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <site name="Neptune"
            set:hostName="__Sitecore.HostName.url__"
            set:targetHostName="__Sitecore.TargetHostName.url__"
            />
    </sites>
  </sitecore>
</configuration>
